*{
    font-family: roboto;
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
}

.container{
    background-color: #f9faf9;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.cta{
    background-color: #3882f6;
    display: flex;
    width: 900px;
    border-radius: 7px;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

a:hover{
    color: #bbd1f3;
}

button{
    background-color: #3882f6;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf9;
    height: 30px;
    width: 100px;
}

.b1{
    border-style: none;
}

.b2{
    border-style: solid;
    border-color: #e5e7eb;
}

button:hover{
    background-color: #86b0f5;
}

footer{
    background-color: #1f2937;
    color: #f9faf9;
    padding: 30px;
    text-align: center;
}